<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterClass()[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/06/18 17:06:55</td>   <td>-20790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTests_NewTours_Module1.SmokeTests_NewTours_Module1_TC2()[pri:2, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">SmokeTests_NewTours_Module1_TC2</td> 
  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:07:16</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:07:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:35</td>   <td>-41528</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeClass(java.lang.String)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:55</td>   <td>-20747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:55</td>   <td>-20746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterClass()[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/06/18 17:06:55</td>   <td>-21187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTests_NewTours_Module1.SmokeTests_NewTours_Module1_TC1()[pri:1, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">SmokeTests_NewTours_Module1_TC1</td> 
  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:55</td>   <td>-20790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:07:16</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:58</td>   <td>-18443</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeClass(java.lang.String)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>21/06/18 17:07:16</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTests_NewTours_Module2.SmokeTests_NewTours_Module2_TC2()[pri:2, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">SmokeTests_NewTours_Module2_TC2</td> 
  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>21/06/18 17:07:16</td>   <td>-549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SmokeTests_NewTours_Module2.SmokeTests_NewTours_Module2_TC1()[pri:1, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module2@da0940]">SmokeTests_NewTours_Module2_TC1</td> 
  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:55</td>   <td>-20790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.BeforeMethod(java.lang.reflect.Method)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
<tr bgcolor="bed7a6">  <td>21/06/18 17:06:55</td>   <td>-20747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.AfterMethod(org.testng.ITestResult)[pri:0, instance:com.TDDPOMSeleniumFramework.tests.SmokeTests_NewTours_Module1@124411f]">&lt;&lt;AfterMethod</td> 
<td>&nbsp;</td>  <td>main@12498329</td>   <td></td> </tr>
</table>
